

Write your custom styles and overrides of Bootstrap in this file.

For example, if you wanted to change the body font:

body {
  font-family: "Vollkorn";
}

/*

* {
  box-sizing: border-box;

   Make the invisible visible
  border: thin red solid;
}
.column25 {
      float: left;
      width: 25%;
      max-height: 250px;
      }
*/
